<div class="card flex justify-content-center m-5">
    <p-toast />
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <p-avatar 
                    [image]="'data:image/jpeg;base64,'+ singleCourseLevel?.thumbnail" 
                    shape="circle" />
                <span class="font-bold">Edit - {{singleCourseLevel?.courseName}} - {{singleCourseLevel?.levelName}}</span>
            </div>
        </ng-template>
        
        <div class="flex gap-5">
        <div>
            <div class="card flex flex-column gap-2 mb-3">
                <label for="courseId" class="font-semibold w-6rem">Course ID</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="true"
                    [value]="singleCourseLevel?.levelId"
                    />
            </div>

            <div class="card flex flex-column gap-2 mb-3">
                <label for="courseId" class="font-semibold w-6rem">Level</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="true" 
                    [value]="singleCourseLevel?.levelName"
                    />
            </div>

            <div class="card flex flex-column gap-2 mb-5">
                <label for="courseId" class="font-semibold">Created Date</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="true" 
                    [value]="singleCourseLevel?.createdDate | date : 'dd-MMM-yyy'"
                    />
            </div>
            <div class="card flex justify-content-center">
                <div class="card flex justify-content-center flex-column align-items-center">
                    <label for="" class="font-semibold text-center">{{editBtnText}}</label>
                    <p-inputSwitch [(ngModel)]="checked" class="mt-1" (click)="editBtn()"/>
                </div>
            </div>
        </div>

        <div>
            <div class="card flex flex-column gap-2 mb-3">
                <label for="courseId" class="font-semibold w-6rem">Duration</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="isDisabled"
                    [(ngModel)]="formData.duration"
                    />
            </div>

            <div class="card flex flex-column gap-2 mb-3">
                <label for="courseId" class="font-semibold w-6rem">Course Fee</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="isDisabled" 
                    [(ngModel)]="formData.courseFee"
                    />
            </div>

            <div class="card flex flex-column gap-2 mb-5" [ngStyle]="{visibility:'hidden'}">
                <label for="courseId" class="font-semibold w-6rem">Course Fee</label>
                <input 
                    id="courseId"
                    type="text"
                    pInputText 
                    [disabled]="true" 
                    
                    />
            </div>
            

            <div>
                <p-button label="Update" [raised]="true" severity="warning" [disabled]="isDisabled" (onClick)="updateSingleCourse()"/>
            </div>
        </div>

        <div>
            <p-editor [style]="{ height: '280px'}" [class]="editorClass" [(ngModel)]="formData.description"/>
        </div>
    </div>
  
    </p-fieldset>
</div>



<div class="card flex justify-content-center m-5">
    
    <p-fieldset legend="Assign Instructors" [toggleable]="true">
        <h3 class="text-center mt-0 mb-2">Drag and drop to assign</h3>
        <div class="card flex flex-wrap gap-3">
            <div class="p-2 border-1 surface-border border-round w-35rem">
                <p class="text-center surface-border border-bottom-1 font-semibold">Instructors</p>
                <div class="flex gap-2 p-0 m-0 flex-wrap">
                    <div 
                        *ngFor="let instructor of allInstructors" 
                        class="p-2 border-round shadow-1 flex flex-column justify-content-center align-items-center"
                        pDraggable 
                        (onDragStart)="dragStart(instructor)" 
                        
                        >
                            <img [src]="'data:image/jpeg;base64,'+ instructor.avatar" alt="" width="100">
                            <h3 class="text-center">{{instructor.instructorName}}</h3>
                            <div class="flex flex-wrap">
                                <p-tag *ngFor="let singleCourse of instructor.instructorCourseNameResponses"
                                [value]="singleCourse.name"
                                class="mx-1">
                                
                                </p-tag>
                            </div>
                </div>
                </div>
            </div>
            <p-confirmDialog />
            <div class="p-2 border-1 surface-border border-round w-35rem" pDroppable (onDrop)="drop($event)">
                <p class="text-center surface-border border-bottom-1 font-semibold">{{singleCourseLevel?.courseName}} - {{singleCourseLevel?.levelName}}</p>
                <div class="flex flex-wrap gap-2 p-0 m-0" *ngIf="selectedInstructor.length > 0; else noInstructors">
                    <div *ngFor="let instructor of selectedInstructor"
                        class="p-2 border-round shadow-1 flex flex-column justify-content-center align-items-center">
                        <div class="flex align-self-end">
                            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="deleteEnrollment($event, instructor.enrollmentId)"/>
                        </div>
                            <img [src]="'data:image/jpeg;base64,'+ instructor.avatar" alt="" width="100">
                            <h3 class="text-center">{{instructor.instructorName}}</h3>
                            <div class="flex flex-wrap">
                                <p-tag *ngFor="let singleCourse of instructor.instructorKnowCourses"
                                [value]="singleCourse.name"
                                class="mx-1">
                                
                                </p-tag>
                            </div>
                </div>
                </div>
                <ng-template #noInstructors><div class="w-20rem text-center flex align-items-center h-10rem">No instructors have been assigned to this course level. Drag and drop an instructor to assign to this course level.</div></ng-template>
            </div>
        </div>
        
    </p-fieldset>
</div>


<div class="card flex justify-content-center m-5">
    <p-fieldset legend="Delete" [toggleable]="true" class="w-full">
        <div class="flex justify-content-around">
       <h3>Do you want to delete this Course level?</h3>
       <p-button label="Yes" severity="danger" (onClick)="deleteLevel($event, this.levelId)"/>
    </div>
    </p-fieldset>
</div>